body{
    background: #eeeeee;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:100px calc(100vh - 450px) 300px 50px;
    /*1fr 3fr 1fr;*/
}

header{
    background: lightblue;
    grid-column:1/3;
}

nav{
    background: lightcoral;
    grid-column: 2/3;
    grid-row: 2/3;
}

aside{
    background: lightsalmon;
    grid-column: 2/3;
}

main{
    background: lightseagreen;
    grid-column: 1/2;
    grid-row: 2/4;
}

footer{
    background: lightgreen;
    grid-column: 1/-1;
}
